{:paths ["src/backend" "resources"]

 :deps {environ/environ {:mvn/version "1.2.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.5.15"}
        metosin/ring-http-response {:mvn/version "0.9.3"}
        ring/ring {:mvn/version "1.9.4"}}
 
 :aliases {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.297"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true}}}}
